* {
  box-sizing: border-box;
  font-family: 'Open Sans';
}

.app {
  background-color: #f3f7fa;
}
.img {
  margin: 0 auto;
  display: block;
  margin-bottom: 50px;
}
.wrapper {
  max-width: 760px;
  margin: 0 auto;
  height: 100%;
  display: flex;
}

.loading {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  span {
    display: block;
    margin-right: 10px;
  }
}
.imgCheck {
  display: block;
  height: 20px;
  margin: 0;
}
